[Unit]
Description=Timer for concentration.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=concentration.service

[Install]
WantedBy=default.target